#title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(155, 105, 203);
}

#instructions {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(155, 105, 203);
}

#button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(155, 105, 203);
    color: white;
    border: none;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 3%;
    transition: background-color 0.3s ease;
}

#button:hover {
    background-color: rgb(192, 156, 227);
}

#quoteDisplay {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 5vw;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(155, 105, 203);
}

body {
    background-color: rgb(224, 212, 235);
}